body{
    font-family: 'Libre Franklin', sans-serif;
    scroll-behavior: smooth;
}

.destaquedropdown{
    z-index: 1100;
}

#home{
    position: relative;
    margin-top: 2%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.introducao{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.espacoentreasintroducoes{
    padding-top: 4%;
    padding-bottom: 4%;
}

footer{
    background-color: #222;
    color: #fff;
    padding: 3em;
    text-align: center;
}

.itensfooter{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.itensfooter li{
    margin: 0 1em;
}

.itensfooter li:hover{
    color: #A9A9A9;
    cursor: pointer;
}

.iconefooter{
    font-size: 1.5em;
}

.textofooter{
    font-family: 'Kalam', cursive;
    font-size: 1.2rem;
}

@media screen and (min-width: 1001px){
    .espacocarrossel{
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-top: 5%;
    }

    .barradenavegacao{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

@media screen and (max-width: 1000px){
    .espacocarrossel{
        padding-bottom: 2rem;
        margin-top: 7%;
        padding-top: 2%;
    }
} 

@media screen and (max-width: 500px){
    .espacocarrossel{
        padding-bottom: 2rem;
        margin-top: 15%;
        padding-top: 5%;
    }
}

@media screen and (max-width: 350px){
    .espacocarrossel{
        padding-bottom: 2rem;
        margin-top: 25%;
        padding-top: 5%;
    }
} 