body{
    font-family: 'Libre Franklin', sans-serif;
}

.destaquedropdown{
    z-index: 1100;
}


@media screen and (min-width: 1001px){
    .espacocarrossel{
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-top: 5%;
    }

    .barradenavegacao{
        padding-top: 2rem;
    }
}

@media screen and (max-width: 1000px){
    .espacocarrossel{
        padding-bottom: 2rem;
        margin-top: 7%;
        padding-top: 2%;
    }
} 

@media screen and (max-width: 500px){
    .espacocarrossel{
        padding-bottom: 2rem;
        margin-top: 15%;
        padding-top: 5%;
    }
}

@media screen and (max-width: 350px){
    .espacocarrossel{
        padding-bottom: 2rem;
        margin-top: 25%;
        padding-top: 5%;
    }
} 